.page {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    padding: 20px;
    background-color: lightblue;
    padding-left: 200px;
}


/*----- header css -----*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    background-color: cornflowerblue;
    color: black;
}

.my-name {
    font-size: 1.75rem;
}

.nav {
    display: flex;
    font-size: 1.25rem;
}

nav a {
    margin: 1rem;
    text-decoration: none;
    color: black;
}




/*----- resume css -----*/
.resume h1{
    font-size: 30px;
}

.resume p {
    margin-bottom: 30px;
    margin-left: 5px;
}

.resume ul {
    padding-left: 40px;
}

.resume li {
    font-size: 20px;
    margin: 15px 0;
}


/*----- footer css -----*/
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: cornflowerblue;
    padding: 1rem;
}