/*---------------------------------------------------------------------------*/
.page {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 70vh;
    background-color: lightblue;
    padding: 50px 0;
}
/*---------------------------------------------------------------------------*/





/*----- header css -----*//*--------------------------------------------------*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    background-color: cornflowerblue;
    color: black;
    background: linear-gradient(to top, lightskyblue, cornflowerblue); 
}

.my-name {
    font-size: 2.50rem;
}

.nav {
    display: flex;
    font-size: 1.25rem;
}

nav a {
    margin: 1rem;
    text-decoration: none;
    color: black;
}

@media (max-width: 800px) {
  .header {
      flex-direction: column;
  }
}
/*---------------------------------------------------------------------------*/





/*----- about css -----*//*--------------------------------------------------*/
.about {
    display: flex;
    border-radius: 10px;
    background-color: ivory;
    width: 50vw;
    margin-top: 30px;
}
.me {
    padding: 2rem;
    font-size: 20px;
}

.me h1, .me p {
    padding-left: 15px;
}
.email {
    font-size: 15px;
}

.me-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 1rem;
    margin-top: 1rem;
}

.bio {
    padding: 2rem;
    width: 40vw;
    margin-top: 30px;
}

@media screen and (max-width: 1000px) {
    .about {
        display: flex;
        flex-direction: column;
    }
    .bio {
        padding-top: 0px;
        margin-top: 0px;
    }
}
/*---------------------------------------------------------------------------*/





/*----- portlfolio css -----*//*--------------------------------------------------*/
.portfolio {
    text-align: center;
    background-color: lightblue;
}

.portfolio h2 {
    color: black;
    font-size: 3rem;
    padding-top: 40px;
    margin: 0px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px 0;

}

.project-title h2{
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 2rem;
    padding: 0px;
}

.projects a {
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin-bottom: 2rem;
}

.projects img {
    width: 600px;
    height: 400px;
}

.project-description{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:  cornflowerblue;
    font-size: 30px;
    text-align: center;
    opacity: 0;
    transition: filter 0.5s; 
}

.projects a:hover .project-description {
    opacity: 1; /*shows project title upon hover*/
}

.projects a:hover img{
    filter: blur(5px); /*blurs project image*/
}

@media screen and (max-width: 1200px) {
    .projects {
        display: flex;
        flex-direction: column;
    }
}
/*---------------------------------------------------------------------------*/





/*----- contact css -----*//*--------------------------------------------------*/
.contact {
    display: flex;
    flex-direction: column;
    align-items: left;
    height: auto;
    min-height: 85vh;
    
    border-radius: 10px;
    background-color: ivory;
    width: 50vw;
    margin-top: 30px;
    padding-left: 30px;
}


.contact-header {
    text-align: left;
    font-size: 30px;
}

.form {
    width: 20vw;
}

label {
    display: block;
    font-size: 20px;
    padding-top: 10px;
}

input,
textarea {
    width: 200%;
    padding: 10px;
    font-size: 20px;
}

button {
    background-color: cornflowerblue;
    color: white;
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
}

button:hover {
    background-color: white;
    color: cornflowerblue;
}
/*---------------------------------------------------------------------------*/





/*----- resume css -----*//*--------------------------------------------------*/
.resume {
    padding: 30px 60px;
    border-radius: 10px;
    background-color: ivory;
    width: 50vw;
}

.resume h1{
    font-size: 30px;
}

.resume p {
    margin-bottom: 50px;
    margin-left: 5px;
}

.resume li {
    font-size: 20px;
    margin: 15px 0;
}
/*---------------------------------------------------------------------------*/





/*----- footer css -----*//*--------------------------------------------------*/
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    padding: 1rem;
    background: linear-gradient(to bottom, lightskyblue, cornflowerblue);    
}
/*---------------------------------------------------------------------------*/
